<ion-view  view-title="Timeline" style="background-color: #FFFACD ">


<div class="tabs tabs-icon-left" style="background-color:#87CEFA " >
  <a class="tab-item active">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item" ng-click="openNotify()">
    <i class="icon ion-android-notifications-none"></i>{{notificationCount}}
  </a>
  <a class="tab-item" ng-click="postmodal.show();">
    <i class="icon ion-android-create"></i>
  </a>
</div>

<ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

<div class="list" style="background-color:#87CEFA ">
<form name="Search">
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text"ng-model="searchname" placeholder="Search Pals" required name="searh">

    </label>
    <button ng-disabled="Search.$invalid" class="button button-small button-balanced  icon ion-ios-search" ng-click="searchFor(searchname)">
    </button>
  </div>
</form>
</div>


 
<!-- Post template -->
<div ng-repeat="bg in BD | orderBy : '-createdAt' | filter: { ownerId : filterObject} | unique :'postId' | limitTo : numberOfItemsToDisplay ">
  <div class="card" >
    <div class="item item-divider ">
      <div class="row item-text-wrap">
         {{bg.title  }}
         
      </div>
      
      <div class="row"> 
        <div class="col col-70">
          <h2><font color="green">{{bg.name}}</font></h2>
        </div>
        
        <div class="col col-3 0">
          <p><font size="2pt">{{bg.createdAt | date:'dd/MM/yyyy @ h:mma'}}</font></p>
        </div>
      </div>

      <div class="item  item-text-wrap">
          <div class="item item-input-inset">
            <p ng-text-truncate="bg.body"
   ng-tt-chars-threshold="40" style="color : blue; font-family:Serif"></p>
          </div>
           <p>
            <a class="button button-icon icon ion-thumbsup" ng-click="bg.interest=changestate(bg.postId,bg.interest,1);" id="{{bg.postId}}like" 
                        ng-style="bg.interest === 0 && {'color': 'black'} ||
                  bg.interest=== 1 && {'color': 'green'}||
                  bg.interest=== 2 && {'color': 'black'}"></a>

            <a class="button button-icon icon ion-thumbsdown" ng-click="bg.interest=changestate(bg.postId,bg.interest,0);" id="{{bg.postId}}dislike" 
                         ng-style="bg.interest === 0 && {'color': 'green'} ||
                  bg.interest=== 1 && {'color': 'black'} ||
                  bg.interest=== 2 && {'color': 'black'}"></a> 
                <a class="button button-icon ion-android-warning" ng-style="{'color': 'red','margin-left':'110px'}" ng-click="reportPost(bg.postId)"></a> 
           
          </p>
      </div>


      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="comment here" ng-model="comment" required="true">
        </label>
          <button class="button button-small  button-balanced icon ion-wand" ng-click="submitComment(comment,bg.postId,bg);"></button>
      </div>


      <div class="list list-inset" style=" max-height: 100px; overflow-y:scroll;">

          <div class="item" ng-repeat="cmt in bg.comments  | orderBy : '-createdAt'">
            <p><font size="2pt">{{cmt.comment}}</font></p> 
            <p><font size="2pt" color="green">{{cmt.username}}</font><font size="1pt">-{{cmt.createdAt | date:'dd/MM/yyyy @ h:mma'}}</font></p>
          </div>

      </div>
    
    </div>
  </div>
</div>
<!--end Post template -->

<ion-infinite-scroll
  on-infinite="loadMoreData()"
  distance=5%>
</ion-infinite-scroll>




   </ion-content>
</ion-view>