<ion-view view-title="Timeline">
<ion-content>

  <div class="item-input-inset" style="padding-top:10px">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
      
    <button class="button button-small button-calm" ng-click="openRegister()">Search</button>
    
  </div>


<!-- Post template -->
  <div class="card">
    <div class="item item-divider ">
      <div class="row">
          Our Lipsmacking Culinary Creations 
      </div>
      
      <div class="row"> 
        <div class="col col-70">
          <h2><font color="green">Marty McFly</font></h2>
        </div>
        
        <div class="col col-3 0">
          <p><font size="2pt">Nov 05, 1955</font></p>
        </div>
      </div>

      <div class="item  item-text-wrap">
          <div class="item item-input-inset">
            <h2>Hello</h2>
          </div>
          <p>
            <a href="#" class="subdued"><font color="blue">25 Like</font></a>
            <a href="#" class="subdued"><font color="blue">7 Disike</font></a>
            <a href="#" class="subdued"><font size="2pt" color="red">Report</font></a>
          </p>
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="comment here">
        </label>
          <button class="button  button-small button-positive">Submit</button>
      </div>

      <div class="list list-inset" style=" max-height: 100px; overflow-y:scroll;">

          <div class="item">
            <p><font size="2pt">Raiders of the Lost Ark</font></p> 
            <p><font size="2pt" color="green">Username</font><font size="1pt">-Nov 05, 1955</font></p>
          </div>

      </div>
    
    </div>
  </div>

<!--end Post template -->



   </ion-content>
</ion-view>