<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Notification</h1>

    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="notifymodal.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>

<ul class="list"  ng-repeat="RA in NAlist | orderBy : '-onDate'">

    <li class="list-group-item">
    <p style="color:#3a87ad">{{RA.byUser}} 
      {{RA.action}} ' {{RA.title}} ' @  {{RA.onDate | date:'medium' }}</p>
      
    </li>
    <hr>

</ul>


  </ion-content>
</ion-modal-view>
