
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Microblogging</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>

        <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<br>
<br>




<div class="container">
<div class="row">
<div class="col-sm-9 col-sm-offset-2">

  <ul class="list-group">
    <li class="list-group-item">
    	<div class="row">
            <h3><div class="col-sm-4"> Title
                    <span class="badge" style="background-color:#3a87ad" >Author</span> 
                </div>
                <div class="col-sm-2 col-sm-offset-6" >
                    <span class="badge" style="background-color: #356635" >date</span>
                </div>
            </h3>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="well well-lg">
                        <p>content</p>
                </div>
            </div>
        </div>

        <div class="row">
        	<div class="col-sm-10 col-sm-offset-1">
        	<form>
			<button type="submit" class="btn btn-warning">Remove Blog</button> &nbsp &nbsp
			<button type="submit" class="btn btn-danger">Block User</button>
			</form>
			</div>
        </div>


    </li>
  </ul>

</div>
</div>
</div>

