<link href="./styles/dropovermanage.css" rel="stylesheet">
<div ng-controller="AdminCtrl">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Microblogging</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a ui-sref="admin" >Home</a></li>
    </ul>

        <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="app" ng-click="Adminlogout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<br>
<br>

<style type="text/css">

</style>


<div class="container">

<div class="row" style="padding-top: 50px">
  <table class="table table-hover table-bordered table-responsive package-table">
    <thead>
      <tr>
        <th>Post Owner</th>

        <th>Take Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rp1 in RPuser | unique: 'username' ">
        <td>{{rp1.username}}</td>
        <td><button type="button" ng-click="blockUser(rp1.username); rp1.state=3; " ng-if="rp1.state!=3" class="btn btn-danger">Block</button>
        <button type="button" ng-click="rp1.state=0; unblockUser(rp1.username)" ng-if="rp1.state==3" class="btn btn-info">Unblock</button></td>
      </tr>
      
    </tbody>
  </table>
</div>

<div class="row" style="padding-top: 50px">
  <table class="table table-hover table-bordered table-responsive package-table">
    <thead ng-init="ordercol='' ">
      <tr>
        <th>Post Title <i ng-click="ordercol='postId'" class="fa  fa-sort"></i></th>
        <th>Reason <i ng-click="ordercol='reason'" class="fa  fa-sort"></i></th>
        <th>Reported By <i ng-click="ordercol='byUser' " class="fa  fa-sort"></i></th>
        <th>Post Owner <i ng-click="ordercol='ofUser'" class="fa  fa-sort"></i></th>
        <th>Reported On</th>
        <th>Remove Blog</th>

        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rp in RPlist | orderBy: ordercol ">
        <td>
        <div ng-dropover ng-dropover-options="{'targetId': 'dropOne' ,'triggerEvent':'click', 'verticalOffset': 10,'closeOnClickOff': true }">
        {{rp.title}}
        <div ng-dropover-contents class="arrowed">
        {{rp.body}}
        </div>
        </div>
        </td>
        <td>{{rp.reason}}</td>
        <td>{{rp.byUser}}</td>
        <td>{{rp.ofUser}}</td>
        <td>{{rp.onDate  | date:'dd/MM/yyyy @ h:mma'}}</td>
        <td><a class="trash" ng-click="removePost(rp.postId)" ><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      
    </tbody>
  </table>
</div>

</div>
</div>


