<div ng-controller="AdminCtrl">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Microblogging</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a ui-sref="admin" >Home</a></li>
    </ul>

        <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="app" ng-click="Adminlogout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<br>
<br>




<div class="container">
<div class="row">
<div class="col-sm-8">
  <table class="table table-hover table-bordered table-responsive">
    <thead ng-init="ordercol='' ">
      <tr>
        <th>Post Title <i ng-click="ordercol='postId'" class="fa  fa-sort"></i></th>
        <th>Content</th>
        <th>Reason <i ng-click="ordercol='reason'" class="fa  fa-sort"></i></th>
        <th>Reported By <i ng-click="ordercol='byUser' " class="fa  fa-sort"></i></th>
        <th>Post Owner <i ng-click="ordercol='ofUser'" class="fa  fa-sort"></i></th>
        <th>Reported On</th>
        <th>Remove Blog</th>

        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rp in RPlist | orderBy: ordercol ">
        <td>{{rp.title}}</td>
        <td>{{rp.body}}</td>
        <td>{{rp.reason}}</td>
        <td>{{rp.byUser}}</td>
        <td>{{rp.ofUser}}</td>
        <td>{{rp.onDate  | date:'dd/MM/yyyy @ h:mma'}}</td>
        <td><button type="button"  ng-click="removePost(rp.postId)" class="btn btn-warning">Remove</button></td>
      </tr>
      
    </tbody>
  </table>
</div>
<div class="col-sm-4">
  <table class="table table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th>Post Owner</th>

        <th>Block User</th>
        
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rp1 in RPuser | unique: 'ofUser' ">
        <td>{{rp1.ofUser}}</td>
        <td><button type="button" ng-click="rp1.userstate=3" ng-if="rp1.userstate!=3" class="btn btn-danger">Block</button>
        <button type="button" ng-click="rp1.userstate=0" ng-if="rp1.userstate==3" class="btn btn-info">Unblock</button></td>
      </tr>
      
    </tbody>
  </table>
</div>
</div>
</div>
</div>


