  <h2>Search Results </h2>
  <hr>
  <table class="table table-hover"  ng-controller="NavigationCtrl" >
    <tbody>
    <p ng-if ="!SR" align="center"><strong>Your search did not match any Users</strong></p>
      <tr ng-repeat ="x in SR">

        <td><strong>{{x.name}} </strong> <br>
        <small>{{x.email}} </small>  </td>
        <td><button type="submit" ng-click="x.follow=1; followHim(x.userId);" ng-if="!x.follow" class="btn btn-success btn-sm" id="{{x.userId}}" >Follow</button>
        <button type="submit"  ng-click="x.follow=0; unFollowHim(x.userId)"  ng-if="x.follow" class="btn btn-warning btn-sm" id="{{x.userId}}">Unfollow</button></td>
      </tr>
    </tbody>

  </table>